body{
    background-color: #171717;
}
h1{
    font-size: 40px;
    color: #fefefe;
    
    margin-top:40px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
}
button{
    padding: 30px;
    font-size: 27px;
    margin: 10px;
    border-radius: 20px;
    filter: none;
}