body{
    background-color: #171717;
}
h1{
    color: #fefefe;
    text-align: center;
    margin-top: 3%;
}
p{
    color:#fefefe;
    text-align: center;
}
.para{
    flex:flex;
    flex-direction: column;
   
}
section p{
    margin: 5 px;
}
.js-result{
    font-size: 30px;
    margin:20px;
}
section{
    display: flex;
    justify-content: center;
    gap: 2%;
}
button{
    padding: 30px;
    font-size: 24px;
    background-color: transparent;
    border-radius: 75px;
}
img{
    height: 100px;
}
