body{
    background-color: #171717;
}
h1{
    color: #fefefe;
    text-align: center;
    margin-top: 3%;
}
section{
    display: flex;
    justify-content: center;
    gap: 2%;
}
button{
    padding: 30px;
    font-size: 24px;
    border-radius: 20px;
}
